<ul class="page-sidebar-menu page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

    <li class="start active">
        <a href="javascript:;">
            <i class="icon-diamond"></i>
            <span class="title">用户邮箱分析</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a onclick="menu.addTabs( '用户信息补全', 'UserEmailAnalysis/CompleteInfo/Index')">
                    <i class="icon-home"></i>
                    用户信息补全
                </a>
            </li>
            <li>
                <a onclick="menu.addTabs( '邮件使用信息', 'UserEmailAnalysis/ExportSendWeChat/Index')">
                    <i class="icon-pencil"></i>
                    邮件使用信息
                </a>
            </li>
            <li>
                <a onclick="menu.addTabs( '统计连发3次用户', 'UserEmailAnalysis/ReportSendTimes/Index')">
                    <i class="icon-tag"></i>
                    统计连发3次用户
                </a>
            </li>
        </ul>
    </li>

    <li class="start active">
        <a href="javascript:;">
            <i class="icon-bar-chart"></i>
            <span class="title">工作流监控</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">

            <li>
                <a onclick="menu.addTabs( '工作流桌面', 'UserEmailAnalysis/MonitorWorkFlow/DeskTop');">
                    <i class="icon-feed"></i>
                    工作流桌面
                </a>
            </li>

            <li>
                <a onclick="menu.addTabs( '工作流监控', 'UserEmailAnalysis/MonitorWorkFlow/Index')">
                    <i class="icon-feed"></i>
                    工作流监控
                </a>
            </li>

            <li>
                <a onclick="menu.addTabs( '催办台账', 'UserEmailAnalysis/ReminderHandle/Index')">
                    <i class="icon-tag"></i>
                    催办台账
                </a>
            </li>

        </ul>
    </li>

    <li class="">
        <a href="javascript:;">
            <i class="icon-diamond"></i>
            <span class="title">协同办公</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a onclick="menu.addTabs('员工加班', 'OA/OAOvertime/Index')">
                    <i class="icon-home"></i>
                    员工加班
                </a>
            </li>
            <li>
                <a onclick="menu.addTabs('员工请假', 'OA/OAKPILeaves/Index')">
                    <i class="icon-home"></i>
                    员工请假
                </a>
            </li>
            <li>
                <a onclick="menu.addTabs('测试', 'userarea/user/index')">
                    <i class="icon-home"></i>
                    测试
                </a>
            </li>
            <li>
                <a onclick="menu.addTabs('看房', 'OA/Visitor/Index')">
                    <i class="icon-home"></i>
                    看房
                </a>
            </li>
        </ul>
    </li>
</ul>